<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Определение состояние сессии...</p>
                </Authorizing>
                <NotAuthorized>
                    <h1>У вас недостаточно прав для доступа к этой странице, необходимо авторизоваться</h1>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Ничего не найдено по этому адресу</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>